$cores-principais-claro1: #f1e2ca;
$cores-principais-claro2: #bca27c;
$cores-principais-neutro: #B99B89;
$cores-principais-escuro1: #A6866F;
$cores-principais-escuro2: #805C3C;

$cores-neutras1: #D9B9AD;
$cores-neutras2: #BFA399;
$cores-neutras3: #F2ECE4;

$cores-de-fundo1: #ffff;
$cores-de-fundo2: #edeaef;
$cores-de-fundo3: #fefbff;

$vermelho-normal: #d94140;
$verelho-escuro: #b42b2b;
$vermelho-claro: #d34040;

